# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
coverage.xml
*.cover
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# Mac
.DS_Store

# Model artifacts
# model/*.joblib
# model/*.pkl
# model/*.pickle

# Docs build
docs/_build/

# OS files
Thumbs.db

# Secrets
.env

# lock files
pip-wheel-metadata/

# temporary
*.tmp
